vendor/
npm-debug.log

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
Homestead.yaml
Homestead.json

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

#Angular
public/node_modules/

