<header-component></header-component>
<div ng-controller="LoginController" class="col-md-4 col-md-offset-4 login-border">
    <h2 class="fontletter">Forgot Password</h2>
    <form name="form" ng-submit="" role="form">
        <div class="form-group register-input-width"
             ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="email"></label>
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1"><span
                        class="glyphicon glyphicon-user icons-color"></span></span>
                <input type="text" name="email" id="email" placeholder="Email" class="form-control"
                       ng-model="user.email" required/>
            </div>
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
            <div class="form-actions">
                <button type="submit" ng-click=passwordResetMail(user) ng-disabled="form.$invalid || vm.dataLoading"
                        class="btn login-btn">Send
                </button>
                <img ng-if="loading" src=""/>
                <a href="#/login" class="btn btn-link">Login</a>
            </div>
    </form>
</div>