<div class="col-lg-6 ">
    <h2>Employee List</h2>
    <div class="table-responsive table-color">
        <table class="table table-bordered table-hover ">
            <thead>
            <tr>
                <th>Employee Name</th>
                <th>Email Address</th>
                <th>Department</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Yalcin Tatar</td>
                <td>yalcintatar41@gmail.com</td>
                <td>IT</td>
                <td></td>
            </tr>
            <tr>
                <td>/about.html</td>
                <td>261</td>
                <td>33.3%</td>
                <td>$234.12</td>
            </tr>
            </tbody>
        </table>
    </div>