<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


<dash-board-header-component></dash-board-header-component>

</head>

<body>
<div id="wrapper">
<left-bar-component></left-bar-component>
</div>
<div id="page-content-wrapper">
        <div class="container">
        <div class="row">

            <div class="col-md-5  dashboard-areas">
                <h3>Average Mood</h3>
        </div>
            <div class="col-md-5 col-md-offset-1 dashboard-areas">
                <h3>Mood Reviews(Current Week)</h3>
            </div>
            <div class="col-md-5  dashboard-areas">
                <h3>Top 5 Reason-Tags</h3>
            </div>
            <div class="col-md-5 col-md-offset-1 dashboard-areas">
                <h3>Reasons-Current Week</h3>
            </div>
        </div>
    </div>
</div>

</body>
</html>
