<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>
<dash-board-header-component></dash-board-header-component>

</head>

<body>
<div id="wrapper">
<left-bar-component></left-bar-component>
</div>
</body>

</html>
