<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 header-main">
            <a href="#menu-toggle" id="menu-toggle" class="glyphicon glyphicon-menu-hamburger"></a>
            <a href="#/">
                <img class="logo-config"
                     src="https://www.freelogoservices.com/api/main/images/1j+ojlxEOMkX9Wyqfhe43D6kjfaDpRJIkR...JwWJqZ1ccoFQw2TtQ2a0...46E5JwtFvwhKxkECc8M9iSN7VYETiw=="
                     alt="Weekly MoodLogo">
            </a>
            <div class="nav navbar-nav navbar-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle login-button-conf"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        {{userName}}<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="logOut()">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>