<dash-board-header-component></dash-board-header-component>
<div id="wrapper">
    <left-bar-component></left-bar-component>
    <div class="row">
        <div class="container">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="col-lg-12 mymood-panel-height">
                    <div class="table-responsive table-color table-margin-top">
                        <ul class="nav nav-tabs">
                            <button class="btn  btn-info col-md-6" ng-click="tabButton = false"> All
                                Employee
                            </button>
                            <button class="btn btn-success col-md-6" ng-click="tabButton = true"> Invite
                                New Employee
                            </button>
                        </ul>
                        <div ng-hide="tabButton">
                            <div class="col-md-10 main">
                                <div class="tab-content">
                                    <div id="allemp" class="tab-pane fade in active">
                                        <form class="form-horizontal">
                                            <div class="control-group">
                                                <div class="controls form-inline">
                                                    <div class="input-group">
                                                        <span class="input-group-addon" id="basic-addon4">
                                                    <span class="glyphicon glyphicon-align-left"
                                                          aria-hidden="true"></span>
                                                        </span>
                                                        <input ng-model="search.name" type="text" class="form-control" placeholder="Search By Name" aria-describedby="basic-addon1">
                                                    </div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon" id="basic-addon8">
                                                    <span class="glyphicon glyphicon-align-left"
                                                          aria-hidden="true"></span>
                                                        </span>
                                                        <input ng-model="search.email" type="text" class="form-control" placeholder="Search By Email" aria-describedby="basic-addon1">
                                                    </div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon" id="basic-addon5">
                                                    <span class="glyphicon glyphicon-align-left"
                                                          aria-hidden="true"></span>
                                                        </span>
                                                        <input type="text" class="form-control" placeholder="Search By Department" aria-describedby="basic-addon1">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <table class="table">
                                            <thead class="thead-inverse">
                                                <tr>
                                                    <th>#</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Email</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody >
                                                <tr ng-repeat="user in userList | filter:search track by $index ">
                                                    <th scope="row">{{$index+1}}</th>
                                                    <td>{{user.name}}</td>
                                                    <td>{{user.surname}}</td>
                                                    <td>{{user.email}}</td>
                                                    <div class="btn-group">
                                                        <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Actions
                                                                    <span class="caret"></span></button>
                                                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="deleteUser(user)">Delete</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="">Edit</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </div>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-hide="!tabButton">
                            <div id="invemp" class="tab-pane fade in active">
                                <form class="form-horizontal">
                                    <div class="control-group">
                                        <div class="controls form-inline">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">
                                            <span class="glyphicon glyphicon-align-left"
                                                  aria-hidden="true"></span></span>
                                                <input type="text" class="form-control" ng-model="user.email" placeholder="Email" aria-describedby="basic-addon1">
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon2">
                                            <span class="glyphicon glyphicon-align-left"
                                                  aria-hidden="true"></span></span>
                                                </span>
                                                <input type="text" class="form-control" ng-model="user.name" placeholder="Name" aria-describedby="basic-addon1">
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon3">
                                            <span class="glyphicon glyphicon-align-left"
                                                  aria-hidden="true"></span></span>
                                                </span>
                                                <input type="text" class="form-control" ng-model="user.surname" placeholder="Last Name" aria-describedby="basic-addon1">
                                            </div>
                                            <!-- Split button -->

                                            <button ng-click="inviteUser()" class="btn btn-warning" type="button"><span
                                                    class="glyphicon glyphicon-ok"></span> Invite Employee
                                            </button>
                                            <button ng-click="sendWeeklyMail()" class="btn btn-warning" type="button"><span
                                                    class="glyphicon glyphicon-ok"></span> Send Mail
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>