<div ng-controller="EmployeeRegisterController" class="col-md-4 col-md-offset-4 register-border">
    <h2>
        Employee Register Page
    </h2>
    <form name="form" ng-submit="" role="form">
        <div class="form-group register-input-width"
             ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label for="firstName">

            </label>
            <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">
                        <span class="glyphicon glyphicon-user icons-color">

                        </span>
                    </span>
                <input type="text" name="firstName" id="firstName" placeholder="First Name" class="form-control"
                       ng-model="user.name" required/>
            </div>
            <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">
                First name is required
            </span>
        </div>
        <div class="form-group register-input-width"
             ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <label for="lastName">
            </label>
            <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon2">
                        <span
                                class="glyphicon glyphicon-user icons-color">
                        </span>
                    </span>
                <input type="text" name="lastName" id="lastName" placeholder="Last Name" class="form-control"
                       ng-model="user.surname" required/>
            </div>
            <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">
                Last name is required
            </span>
        </div>
        <div class="form-group register-input-width"
             ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">
            </label>
            <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon4">
                        <span class="glyphicon glyphicon-asterisk icons-color">
                        </span>
                    </span>
                <input type="password" name="password" id="password" placeholder="Password" class="form-control"
                       ng-model="user.password" required/>
            </div>
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">
                Password is required
            </span>
        </div>
        <div class="form-actions">
            <button ng-click="" type="submit" ng-disabled="form.$invalid || dataLoading"
                    class="btn btn-primary register-btn">Register
            </button>
        </div>
    </form>
</div>
