<div class="col-md-13">
    <div class="col-md-12 header-main">
        <a href="#/">
            <img class="logo-config"
                 src="https://www.freelogoservices.com/api/main/images/1j+ojlxEOMkX9Wyqfhe43D6kjfaDpRJIkR...JwWJqZ1ccoFQw2TtQ2a0...46E5JwtFvwhKxkECc8M9iSN7VYETiw=="
                 alt="Weekly MoodLogo"></a>
        <div class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/loginpage" class="login-button-conf">
                        LOGIN
                    </a>
                </li>
                <li>
                    <a href="#/register" class="register-button-conf">
                        REGISTER</a>
                </li>
            </ul>
        </div>
    </div>
</div>
