<div ng-controller="MoodContentController" class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-md-offset-2 employee-register-border">
    <h2>
        Mood Content Page
    </h2>
    <div class="container">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-md-offset-1 verysad-image">

            </div>
            <div class="col-xs-2 col-sm-2 col-md-2  sad-image">

            </div>
            <div class="col-xs-2 col-sm-2 col-md-2  normal-image">

            </div>
            <div class="col-xs-2 col-sm-2 col-md-2  happy-image">

            </div>
            <div class="col-xs-2 col-sm-2 col-md-2  veryhappy-image">

            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-8  col-md-8 col-lg-12 commentarea-margin-top">
                <div class="panel panel-default">
                    <div class="panel-heading"><b>Select one or more tags</b></div>
                    <div class="panel-body">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="button" class="btn btn-default">Work Environmental</button>
                            <button type="button" class="btn btn-default">Working Hours</button>
                            <button type="button" class="btn btn-default">Health</button>
                            <button type="button" class="btn btn-default">Salary</button>
                            <button type="button" class="btn btn-default">Team Members</button>
                            <button type="button" class="btn btn-default">Distribution of Task</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-9 col-md-8 col-lg-12 commentarea-margin-top">
                <div class="panel panel-default">
                    <div class="panel-heading"><b>Comment(Optional):</b></div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>