<dash-board-header-component></dash-board-header-component>
<div id="wrapper">
    <left-bar-component></left-bar-component>
</div>
<div class="row">
    <div id="page-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="panel panel-default mymood-areas">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>My Mood</b></h3>
                    </div>
                    <div class="row row-margin-top">
                        <div class="col-md-4 ">
                            <div class="panel panel-default mymood-panel-height">
                                <div class="panel-heading"><b>Total</b></div>
                                <div>
                                    <h1 class="text-center">
                                        {{userAllMoods.length}}
                                    </h1>
                                    <h3>given mood</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default mymood-panel-height">
                                <div class="panel-heading">
                                    <b>Average Mood</b>
                                </div>
                                <div class="text-center">
                                    <h1>{{pieFirst}}
                                        <img ng-hide="" src="../../../images/{{url}}">
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default mymood-panel-height">
                                <div class="panel-heading">
                                    <b>
                                        Distribution of Moods
                                    </b>
                                </div>
                                <div class="panel-body">
                                    <canvas id="pie" class="chart chart-pie" chart-data="pieData" chart-labels="pieLabels"></canvas>
                                </div>
                            </div>
                        </div>
                        <div id="" class="col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-lg-offset-1 col-md-offset-1 col-sm-12 col-lg-9 col-md-8">
                                    <div class="panel panel-default">
                                        <div class="panel-heading"><b>My Moods Graph (Last Six Week)</b></div>
                                        <div class="">
                                            <canvas class="chart chart-bar" chart-data="data" chart-labels="labelArray" chart-options="options" chart-series="series"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>