<dash-board-header-component></dash-board-header-component>
<div id="wrapper">
    <left-bar-component></left-bar-component>
</div>
<div id="page-content-wrapper">
    <div class="container">
        <div class="row">
            <div class="panel panel-default mymood-areas">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>My Mood</b></h3>
                </div>
                <div class="row row-margin-top">
                    <div class="col-md-3 panel-body mymood-panel-width">
                        <div class="panel panel-default mymood-panel-height">
                            <div class="panel-heading"><b>Total</b></div>
                            <div class="panel-body">
                                <h2>1</h2>
                                <h3>given mood</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 panel-body mymood-panel-width">
                        <div class="panel panel-default mymood-panel-height">
                            <div class="panel-heading"><b>Average Mood</b></div>
                            <div class="panel-body">
                                <h2>Sad</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 panel-body mymood-panel-width">
                        <div class="panel panel-default mymood-panel-height">
                            <div class="panel-heading"><b>Distribution</b></div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11 panel-body mymood-graph-panel">
                        <div class="panel panel-default mymood-graph-panel-height">
                            <div class="panel-heading"><b>My Mood Graph</b></div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

