<div class="col-md-12">
    <img class="logo-config " title="Weekly Mood isimli logonuz" src="https://www.freelogoservices.com/api/main/images/1j+ojlxEOMkX9Wyqfhe43D6kjfaDpRJIkR...JwWJqZ1ccoFQw2TtQ2a0...46E5JwtFvwhKxkECc8M9iSN7VYETiw==" alt="Weekly MoodLogo">
   <div  class="nav navbar-nav navbar-right">
       <ul class="nav navbar-nav navbar-right">
           <li><a href="#/login" class="login-button-conf">LOGIN</a></li>
           <li><a href="#/register" class="register-button-conf">REGISTER</a></li>
       </ul>

   </div>
</div>